.header {
  margin: auto;
  padding-bottom: 40px; /* по макету должно быть 41px, 40px подправил при проверке на пиксельперфект */
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
